__pycache__/
*.py[cod]
dsabuild_readme.md
tests/images/

# Virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / distribution
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editor settings
.vscode/
.idea/

# pyenv
.python-version

# Coverage / testing
.coverage
htmlcov/
.cache/

# Logs
*.log

_build/

# Sphinx cache files
.doctrees/
docs2/

# Sphinx environment pickles
environment.pickle
todo_generators.md
.jupyter
deploy_docs.sh
