[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ucxdsa"
version = "2025.1.29"
authors = [
  { name="Carl Limsico", email="limsico@berkeley.edu" },
]
description = "Data Structures and Algorithms Source Code"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[tool.hatch.build]
exclude = [
  "/__pycache__",
  "dsabuild_readme.md"
]

[tool.hatch.build.targets.wheel]
packages = ["src/dsa"]

